* {
  margin: 0;
  padding: 0;
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  z-index: 1;
}

.menubar_top {
  height: 6px;
  background: linear-gradient(
    180deg,
    rgba(255, 189, 89, 0.8) 0%,
    rgba(242, 96, 14, 0.26) 100%
  );
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.menu_logo {
  height: 52px;
  width: 56.26px;
}

.menu_small_bar {
  width: 2px;
  height: 25px;
  background: #d0c4c4;
}

.menu_input {
  height: 35px;
  border-radius: 5px;
  border: 1px solid #aaa1a1;
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding-left: 38px;
  font-size: 12px;
  margin-top: 10px;
}

.menu_input:focus {
  outline: none;
}

.menu_field i {
  padding-top: 10px;
  padding-left: 10px;
  color: #ffbd59;
  margin-top: 10px;
}

.cross {
  color: #ffbd59;
}

.menubar_bottom {
  background: #d0c4c4;
  height: 1.5px;
}

.menubar_btn1 {
  border-radius: 6px;
  background: #e1ecf4;
  border: none;
  color: #0a95ff;
  font-size: 15px;
  width: 80px;
  height: 35px;
}

.menubar_btn2 {
  border-radius: 6px;
  background: #0a95ff;
  border: none;
  color: white;
  font-size: 14px;
  width: 80px;
  height: 35px;
}

.qo:hover {
  cursor: pointer;
}

.img_hover:hover {
  cursor: pointer;
}

.add_tag{
  background-color: rgb(16, 164, 214);
  border-radius: 40px;
  color: white;
  border: none;
  width: 80px;
  height: 35px;
  font-size: 12px;
}

.circle_x{
  border: none;
  background-color: transparent;
  margin-top: -8px;
}

.input_add_tag{
  font-size: 12px;
  width: 250px;
  height: 30px;
}

iframe#webpack-dev-server-client-overlay{display:none!important}

.tag_hoverr:hover{
  cursor: pointer;
}


@media (max-width: 419px) {
  .menubar_btn1 {
    width: 70px;
    height: 30px;
  }

  .menubar_btn2 {
    width: 70px;
    height: 30px;
  }
}
