* {
  margin: 0;
  padding: 0;
}

.sidemenu {
  width: 18vw;
  height: 92vh;
  top: 8vh;
  border-right: 1.5px solid #d0c4c4;
  position: fixed;
  display: block;
  transition: all 0.3s ease-out;
}

.sidemenu1{
  width: 23vw;
  height: 92vh;
  top: 10vh;
  border-right: 1.5px solid #d0c4c4;
  position: fixed;
  display: block;
  background-color: white;
  z-index: 1;
  transition: all 0.3s ease-in-out;
}

.box {
  height: 50px;
  width: 160px;
  background: linear-gradient(270deg, #ffe0b0 0%, rgba(217, 217, 217, 0) 100%);
  cursor: pointer;
}

.box:hover{
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    transition: all .7s ease;
}

.box1 {
  position: absolute;
  width: 5px;
  height: 100%;
  left: 0;
  background: #ff9a00;
}

.mainmenu {
  position: absolute;
  top: 8%;
  left: 18vw;
  width: 80vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

@media (max-width : 991px)
{
    .sidemenu{
        width: 0vw;
    }
    .mainmenu{
        width: 100vw;
        left: 0;
    }
}



@media (max-width : 794px) and (min-width : 576px)
{
    .sidemenu1{
        width: 30vw;
    }
}

@media (max-width:575px) and (min-width : 420px)
{
    .sidemenu1{
        width: 40vw;
    }
}

@media (max-width:419px)
{
    .sidemenu1{
        width: 50vw;
        top: 9.2%;
    }
}